# Visual Studio
*.suo
*.user
*.sln.docstates
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.sln
*.recipe

*.lib
*.a
*.obj
*.dylib
*.xz

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak
*.project
/devtools/bin/vpc_linux

# Linux libs
/thirdparty/gperftools-2.0/.libs/
/thirdparty/gperftools-2.0/.deps/
/thirdparty/gperftools-2.0/vsprojects/
/thirdparty/gperftools-2.0/**/*.o
/thirdparty/gperftools-2.0/**/*.lo
/thirdparty/gperftools-2.0/**/*.la
/thirdparty/gperftools-2.0/*_test
/thirdparty/gperftools-2.0/*_unittest
/thirdparty/gperftools-2.0/Makefile
/thirdparty/gperftools-2.0/config.status
/thirdparty/gperftools-2.0/libtool

external/crypto++-*/a.out
external/crypto++-*/*.o

/thirdparty/libedit-3.1/**/Makefile
/thirdparty/libedit-3.1/**/Makefile.in
/thirdparty/libedit-3.1/**/*.o
/thirdparty/libedit-3.1/**/*.lo
/thirdparty/libedit-3.1/**/*.la
/thirdparty/libedit-3.1/Makefile
/thirdparty/libedit-3.1/**/.deps
/thirdparty/libedit-3.1/**/.libs
/thirdparty/libedit-3.1/config.h
/thirdparty/libedit-3.1/config.status
/thirdparty/libedit-3.1/aclocal.m4
/thirdparty/libedit-3.1/acinclude.m4
/thirdparty/libedit-3.1/autom4te.cache/
/thirdparty/libedit-3.1/configure
/thirdparty/libedit-3.1/config.h
/thirdparty/libedit-3.1/config.status

/thirdparty/protobuf-*/aclocal.m4
/thirdparty/protobuf-*/gtest/configure
/thirdparty/protobuf-*/configure
/thirdparty/protobuf-*/src/protoc
/thirdparty/protobuf-*/src/unittest_proto_middleman
/thirdparty/protobuf-*/**/Makefile
/thirdparty/protobuf-*/**/Makefile.in
/thirdparty/protobuf-*/**/libtool
/thirdparty/protobuf-*/**/.dirstamp
/thirdparty/protobuf-*/protobuf*.pc
/thirdparty/protobuf-*/gtest/config.status
/thirdparty/protobuf-*/gtest/scripts/gtest-config
/thirdparty/protobuf-*/gtest/build-aux/config.h
/thirdparty/protobuf-*/**/stamp-h1
/thirdparty/protobuf-*/gtest/autom4te.cache/
/thirdparty/protobuf-*/autom4te.cache/
/thirdparty/protobuf-*/config.h
/thirdparty/protobuf-*/config.status
/thirdparty/protobuf-*/**/*.o
/thirdparty/protobuf-*/**/*.la
/thirdparty/protobuf-*/**/*.lo
/thirdparty/protobuf-*/**/.deps
/thirdparty/protobuf-*/**/.libs
thirdparty/protobuf-*/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.*
/thirdparty/protobuf-*/src/google/protobuf/unittest.pb.*
/thirdparty/protobuf-*/src/google/protobuf/unittest_*
/thirdparty/protobuf-*/src/google/protobuf/.deps/
/thirdparty/protobuf-*/src/google/protobuf/.dirstamp
/thirdparty/protobuf-*/src/google/protobuf/.libs/

# Specific Source build products
/lib/public/linux32/*.so

client.pdb
client.dll
client.lib
server.pdb
server.dll
server.lib

client.so
server.so
server_srv.so

client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/

# files generated by running a mod
config.cfg

# shader files
*.tmp

*.vpc.sentinel
*.vcxproj
*.vcxproj.filters
*.vcxproj.vpc_crc
*.vcxproj.FileListAbsolute.txt
# required upgraded/modified protobuf projects
!thirdparty/protobuf-2.5.0/vsprojects/*.vcxproj
*.iobj
*.pch
*.pdb
*.ipdb
*.dbg

# ignore vs-generated folders
.vs/
Retail/
Retail_*/
Release/
Release_*/
Debug/
Debug_*/
*.tlog/
UpgradeLog*.htm

# ignore generated protobufs
generated_proto*/

*.lib
*.a
*.dylib
*.xz

!tier0/DESKey/DK2WIN32.LIB
!lib/public/nvtc.lib
!lib/public/ftol3.obj
!lib/public/openvr_api.lib
!lib/public/steam_api.lib
!lib/public/ati_compress_mt_vc10.lib
!lib/public/steamnetworkingsockets.lib
!lib/public/socketlib.lib
!lib/public/SDL2.lib
!lib/common/win32/2015/debug/cryptlib.lib
!lib/common/win32/2015/release/binkw32.lib
!lib/common/win32/2015/release/cryptlib.lib
!lib/common/win32/2015/release/d3dx9.lib
!lib/common/win32/2015/release/libjpeg.lib
!lib/common/win32/2015/release/libpng.lib
!lib/common/win32/2015/release/libjpeg.lib
!lib/common/win32/2015/release/libpng.lib
!lib/common/win32/2015/release/d3dx9.lib
!lib/common/win32/2015/release/binkw32.lib
!dx9sdk/lib/d3dx9.lib
!dx9sdk/lib/d3d9.lib
!dx9sdk/lib/dinput8.lib
!dx9sdk/lib/ddraw.lib
!dx9sdk/lib/dsound.lib
!dx9sdk/lib/dxguid.lib
!tier0/DESKey/ALGO32.LIB
!tier0/DESKey/DK2WIN.LIB